@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  background-color: hsl(30, 38%, 92%);
  padding: 0px;
}

/*desktop version*/
body {
  min-height: 100vh;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}
.main_container {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 50%;
  background-color: #fff;
  border-radius: 15px;
  margin: 10% auto;
}

.main_image {
  padding: 0;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  display: flex;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.main_image img {
  flex: 1 0 50%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
  width: 50%;
}

.main_text {
  margin: 35px;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.main_text,
.main_text p,
.main_text h1 {
  background-color: #fff;
}

.perfume_text {
  margin-top: 0;
  letter-spacing: 5px;
}

.perfume_name {
  font-family: "Fraunces"; 
  font-size: 40px;
  color:hsl(212, 21%, 14%);
  line-height: 40px;
}

.perfume_description {
  font-size: 18px;
  line-height: 30px;
}

.container_prices {
  display: flex;
  background-color: #fff;
}

.first_price {
  color: #01714a;
  font-family: "Fraunces"; 
  font-size: 40px;
  font-weight: 700;
  width: 60%;
  background-color: #fff;
}

.second_price {
  width: 45%;
  margin: 20px;
  background-color: #fff;
}

button {
  background-color: #01714a;
  color: #fff;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}
i {background-color: transparent;}

button:hover {
  background-color:#003623;
  cursor: pointer;
}

/*mobile version*/
@media screen and (max-width: 375px) {

  .main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    margin: 10% auto;
  }

  .main_image {
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .main_image img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }
}
